<h1>stupid coaching</h1>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<div class="input-group mb-3">
  <input type="text" name="question" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  <span class="input-group-text" id="inputGroup-sizing-default">Ask !</span>
</div>
